* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.topmost {
	background-color: #DD3E6E;
	height: 50px;
	width: 100%;
	border: 1px solid grey;
	position: relative;
	padding: 0 90px;
}

.topmost a:hover {
	background-color: #48B8D0;
}

li {
	list-style: none;
}

.social ul a img {
	width: 29px;
	height: 28px;
}

a {
	text-decoration: none;
	color: white;
}

.login ul a {
	float: left;
	padding: 15px 23px;
	color: white;
	vertical-align: middle;
}

.loginhome {
	background-color: #DD688B;
	border-right: 2px solid #841D3C;
}

.loginlogin,
.loginpinterest {
	border-right: 2px solid #841D3C;
}

.logingoogle {

}

.social ul a {
	float: right;
	height: 28px;
	width: 29px;
	background-color: white;
	margin: 10px;
	border-radius: 5px;
}

.headerbox {
	background-color: #EFE7DA;
	height: 163px;
	width: 100%;
}

.header {
	float: left;
	padding: 50px;
}

h1,
small {
	color: black;
	padding-left: 63px;
	text-align: right;
}

.headerpic {
	position: relative;
}

.headerboximg {
	width: 468px;
	height: 60px;
	float: right;
	margin: 55px 100px;
}

.bigyellow {
	background-color: #ef9e10;
}

nav {
	width: 1000px;
	height: 58px;
	padding: 0 25px;
	margin-top: none;
	background-color: black;
	float: left;
}

nav a:hover {
	background-color: grey;
}

nav ul a {
	float: left;
	display: block;
	padding: 15px 23px;
}

.centralizer {
	margin: 0 100px;
}

/*.dino {
	width: 1000px;
	height: 350px;
	margin-top: none;
	display: inline-block;
}*/

.dinopic {
	margin-top: 50px;
}

.slidetitle {
	background-color: black;
	color: white;
	/*float: left;*/
	display: inline-block;
	padding: 20px 50px;
	margin: 0;
	width: inherit;
}

.slidetitle:hover {
	background-color: #DD3E6E;
}

main {
	position: center;
}

h3 {
	font-size: 18px;
	margin: 5px;
}

.right h3 {
	font-size: 1.5em;
	margin: 0px 0 25px;
	font-weight: normal;
}

.post1 {
	border: 1px solid #DD3064;
	float: left;
	display: block;
	width: 657px;
	padding: 15px 18px;
	margin: 30px 30px 30px 100px;
}

.post1 img {
	float: left;
}

.post1 div {
	padding-left: 5px;
}

.aquarium{
	padding-left: 10px;
}

#readmore {
	color: #48B8D0;
}

.apost {
	font-size: 1.7em;
	color: #48B8D0;
}

.apostimg {
	max-width: 200px;
	max-width: 150px;
}

.search {
	color: white;
	background-color: pink;
	width: 299px;
	height: 38px;
}

.fbstuffimg {
	width: 300px;
	height: 90px;
}

.button {
	display: inline-block;
	width: 300px;
}

.tinypicspics {
	height: 32px;
	width: 32px;
	display: inline-block;
}

#primero {
	font-size: 0.7em;
}

.popimg {
	width: 77.19px;
	height:72;
	float: left;
}

.popimg1 {
	width: 77.19px;
	height:72;
	float: left;
}


.poppost1 {
	display: inline-block;
	width: 300px;
	font-size: 0.8em;
}

.poppost1 a {
	color: #DD3E6E;
}

.span {
	height: 200px;
	width: 300px;
	display: block;
	overflow: scroll;
	text-align: center;
}

.span ul {
	height: inherit;
	margin: 1px;
}

.span ul li {
	display: inline-block;
}

.otherjelly ul li a {
	color: #48B8D0;
}

.spanj {
	font-size: 1.5em;
	font-color: lightgrey;
}

.otherjelly ul li a {
	padding: 5px;
}

select {
	display: block;
}

footer {
	display: inline-block;
	width: 100%;
	background-color: #DD3E6E;
	height: auto;
}

.footstuff {
	width: 1000px;
	height: 215px;
	position: middle;
	margin: 0 auto;
}

.labels,
.blogroll,
.about,
.pages {
	display: inline-grid;
	width: 24%;
	text-align: left;
	padding: 20px;
	border-right: 1px solid grey;
}

.alignright {
	text-align: left;
	float: left;
	width: 440px;
}

.alignleft {
	text-align: right;
	float: right;
	width: 440px;
}

.divhome {
	float: left;
	display: block;
	width: 657px;
	margin: 50px;
}

.divhome span a {
	color: #48B8D0;
}